 <!-- <label>{{label}}</label>
<br>
<button (click)="toggleDarkMode()">toggle</button>-->
<!--<label>{{totalPrice()}}</label>
<br>
<input type="number" value={{quantity()}} (change)="changeQuantity($event)">-->ss
<!--<div>
    <input type="text" (input)="changeFilter($event)"/>
</div>
<br>
<table>
    <tr *ngFor="let product of filteredProducts()">
        <td>{{product.id}}</td>
        <td>{{product.name}}</td>
        <td>{{product.price}}</td>
    </tr>
</table>-->
<h1>Products</h1>
<product-list [products]="allProducts"></product-list>